In [98]:
import pandas as pd

In [97]:
orders = pd.read_excel('Muesli Project raw data.xlsx', sheet_name=0, header=1)
campaign = pd.read_excel('Muesli Project raw data.xlsx', sheet_name=1, header=0)
process = pd.read_excel('Muesli Project raw data.xlsx', sheet_name=2, header=0)
intern = pd.read_excel('Muesli Project raw data.xlsx', sheet_name=3, header=0)

In [129]:
orders['Order ID'].nunique()

5009

In [127]:
campaign.head(2)

         Order ID Arrival Scan Date Customer Name
0  CA-2019-109666        2019-05-03  Kunst Miller
1  CA-2019-138933        2019-05-03   Jack Lebron

In [126]:
all_orders['Order ID'].nunique()

22

In [124]:
campaign

           Order ID Arrival Scan Date     Customer Name
0    CA-2019-109666        2019-05-03      Kunst Miller
1    CA-2019-138933        2019-05-03       Jack Lebron
2    CA-2019-130001        2019-05-03  Heather Kirkland
3    CA-2019-113061        2019-05-06         Ed Ludwig
4    CA-2019-162138        2019-05-06       Grace Kelly
..              ...               ...               ...
328  CA-2020-129707        2020-05-08      Larry Hughes
329  CA-2020-125381        2020-05-08  Speros Goranitis
330  CA-2020-141733        2020-05-15       Rick Wilson
331  US-2020-104451        2020-05-15    Michelle Moray
332  US-2020-139647        2020-05-15      Todd Sumrall

[333 rows x 3 columns]

In [99]:
all_orders = orders.merge(intern, on='Order ID', how='inner')

In [100]:
all_orders = all_orders.merge(process,  on='Order ID', how='inner')

In [101]:
all_orders = all_orders.merge(campaign,  on='Order ID', how='inner')

In [125]:
all_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Index               250 non-null    int64
 1   Order ID            250 non-null    object
 2   Order Date_x        250 non-null    datetime64[ns]
 3   Ship Mode_x         250 non-null    object
 4   Customer ID         250 non-null    object
 5   Customer Name_x     250 non-null    object
 6   Origin Channel      250 non-null    object
 7   Country/Region      250 non-null    object
 8   City                250 non-null    object
 9   State               250 non-null    object
 10  Postal Code         250 non-null    float64
 11  Region              250 non-null    object
 12  Category            250 non-null    object
 13  Sub-Category        250 non-null    object
 14  Product ID          250 non-null    object
 15  Sales               250 non-null    float64
 16  Quantity            250 non-null    int64
 17  Discount            250 non-null    float64
 18  Profit              250 non-null    float64
 19  Ready to Ship Date  250 non-null    datetime64[ns]
 20  Pickup Date         250 non-null    datetime64[ns]
 21  Row ID              250 non-null    int64
 22  Order Date_y        250 non-null    datetime64[ns]
 23  On Truck Scan Date  250 non-null    datetime64[ns]
 24  Ship Mode_y         250 non-null    object
 25  Arrival Scan Date   250 non-null    datetime64[ns]
 26  Customer Name_y     250 non-null    object
 27  ready_time          250 non-null    timedelta64[ns]
 28  scan_time           250 non-null    timedelta64[ns]
 29  arrival_time        250 non-null    timedelta64[ns]
 30  ship_time           250 non-null    timedelta64[ns]
 31  order_time          250 non-null    timedelta64[ns]
dtypes: datetime64[ns](6), float64(4), int64(3), object(14), timedelta64[ns](5)
memory usage: 62.6+ KB

In [ ]:
all_orders.info()

In [113]:
#how many days from order date is ready date
all_orders['ready_time'] = all_orders['Ready to Ship Date'] - all_orders['Order Date_x'] #time from order to status ready
all_orders['scan_time'] = all_orders['On Truck Scan Date'] - all_orders['Ready to Ship Date'] #time from ready to on truck
all_orders['ship_time'] = all_orders['Arrival Scan Date']- all_orders['On Truck Scan Date'] #time from on truck to arrival
all_orders['order_time'] = all_orders['Arrival Scan Date'] - all_orders['Order Date_x']   #full delivery time

In [122]:
california = all_orders[all_orders['State'] == 'California']
new_york = all_orders[all_orders['State'] == 'New York']

In [123]:
new_york.describe()

,Index,Order Date_x,Postal Code,Sales,Quantity,Discount,Profit,Ready to Ship Date,Pickup Date,Row ID,Order Date_y,On Truck Scan Date,Arrival Scan Date,ready_time,scan_time,arrival_time,ship_time,order_time
count,41.000000,41,41.000000,41.000000,41.000000,41.000000,41.000000,41,41,41.000000,41,41,41,41,41,41,41,41
mean,4149.463415,2019-09-05 21:04:23.414634240,10014.243902,85.519951,2.902439,0.058537,20.827932,2019-09-10 18:43:54.146341376,2019-09-12 16:58:32.195121920,4149.463415,2019-09-05 21:04:23.414634240,2019-09-12 16:58:32.195121920,2019-09-17 16:58:32.195121920,4 days 21:39:30.731707317,1 days 22:14:38.048780487,5 days 00:00:00,5 days 00:00:00,11 days 19:54:08.780487804
min,992.000000,2019-09-04 00:00:00,10011.000000,6.690000,1.000000,0.000000,3.077400,2019-09-09 00:00:00,2019-09-11 00:00:00,992.000000,2019-09-04 00:00:00,2019-09-11 00:00:00,2019-09-16 00:00:00,2 days 00:00:00,0 days 00:00:00,5 days 00:00:00,5 days 00:00:00,7 days 00:00:00
25%,1620.000000,2019-09-04 00:00:00,10011.000000,22.720000,1.000000,0.000000,6.588800,2019-09-09 00:00:00,2019-09-11 00:00:00,1620.000000,2019-09-04 00:00:00,2019-09-11 00:00:00,2019-09-16 00:00:00,5 days 00:00:00,2 days 00:00:00,5 days 00:00:00,5 days 00:00:00,12 days 00:00:00
50%,5331.000000,2019-09-04 00:00:00,10011.000000,60.600000,3.000000,0.000000,20.452500,2019-09-09 00:00:00,2019-09-11 00:00:00,5331.000000,2019-09-04 00:00:00,2019-09-11 00:00:00,2019-09-16 00:00:00,5 days 00:00:00,2 days 00:00:00,5 days 00:00:00,5 days 00:00:00,12 days 00:00:00
75%,5332.000000,2019-09-06 00:00:00,10011.000000,63.940000,4.000000,0.200000,24.936600,2019-09-09 00:00:00,2019-09-11 00:00:00,5332.000000,2019-09-06 00:00:00,2019-09-11 00:00:00,2019-09-16 00:00:00,5 days 00:00:00,2 days 00:00:00,5 days 00:00:00,5 days 00:00:00,12 days 00:00:00
max,8046.000000,2019-09-20 00:00:00,10035.000000,722.352000,5.000000,0.200000,129.772500,2019-09-24 00:00:00,2019-09-25 00:00:00,8046.000000,2019-09-20 00:00:00,2019-09-25 00:00:00,2019-09-30 00:00:00,6 days 00:00:00,2 days 00:00:00,5 days 00:00:00,5 days 00:00:00,13 days 00:00:00
std,1954.020242,NaN,8.089439,157.276561,1.640196,0.092129,25.371251,NaN,NaN,1954.020242,NaN,NaN,NaN,0 days 21:59:58.403531581,0 days 08:17:48.943002683,0 days 00:00:00,0 days 00:00:00,1 days 03:18:46.159087882

In [121]:
california.describe()

,Index,Order Date_x,Postal Code,Sales,Quantity,Discount,Profit,Ready to Ship Date,Pickup Date,Row ID,Order Date_y,On Truck Scan Date,Arrival Scan Date,ready_time,scan_time,arrival_time,ship_time,order_time
count,138.000000,138,138.000000,138.000000,138.000000,138.000000,138.000000,138,138,138.000000,138,138,138,138,138,138,138,138
mean,3455.239130,2019-09-19 00:10:26.086956544,94001.130435,224.417812,3.978261,0.076812,64.199530,2019-09-23 00:10:26.086956544,2019-09-23 23:39:07.826086912,3455.239130,2019-09-19 00:10:26.086956544,2019-09-23 23:39:07.826086912,2019-09-28 23:39:07.826086912,4 days 00:00:00,0 days 23:28:41.739130434,5 days 00:00:00,5 days 00:00:00,9 days 23:28:41.739130434
min,251.000000,2019-09-04 00:00:00,92037.000000,7.610000,1.000000,0.000000,3.124800,2019-09-04 00:00:00,2019-09-04 00:00:00,251.000000,2019-09-04 00:00:00,2019-09-04 00:00:00,2019-09-09 00:00:00,0 days 00:00:00,0 days 00:00:00,5 days 00:00:00,5 days 00:00:00,5 days 00:00:00
25%,3412.000000,2019-09-20 00:00:00,94122.000000,48.640000,2.000000,0.000000,15.808000,2019-09-24 00:00:00,2019-09-25 00:00:00,3412.000000,2019-09-20 00:00:00,2019-09-25 00:00:00,2019-09-30 00:00:00,4 days 00:00:00,1 days 00:00:00,5 days 00:00:00,5 days 00:00:00,10 days 00:00:00
50%,3413.000000,2019-09-20 00:00:00,94122.000000,65.790000,2.000000,0.000000,30.263400,2019-09-24 00:00:00,2019-09-25 00:00:00,3413.000000,2019-09-20 00:00:00,2019-09-25 00:00:00,2019-09-30 00:00:00,4 days 00:00:00,1 days 00:00:00,5 days 00:00:00,5 days 00:00:00,10 days 00:00:00
75%,3414.000000,2019-09-20 00:00:00,94122.000000,77.520000,4.000000,0.200000,37.984800,2019-09-24 00:00:00,2019-09-25 00:00:00,3414.000000,2019-09-20 00:00:00,2019-09-25 00:00:00,2019-09-30 00:00:00,4 days 00:00:00,1 days 00:00:00,5 days 00:00:00,5 days 00:00:00,10 days 00:00:00
max,9930.000000,2019-09-20 00:00:00,94122.000000,3347.370000,13.000000,0.200000,944.986500,2019-09-24 00:00:00,2019-09-25 00:00:00,9930.000000,2019-09-20 00:00:00,2019-09-25 00:00:00,2019-09-30 00:00:00,6 days 00:00:00,2 days 00:00:00,5 days 00:00:00,5 days 00:00:00,12 days 00:00:00
std,1417.118525,NaN,489.015812,637.747348,3.072048,0.097629,150.333655,NaN,NaN,1417.118525,NaN,NaN,NaN,0 days 20:05:25.105433123,0 days 04:33:17.871230588,0 days 00:00:00,0 days 00:00:00,0 days 23:38:28.468137889

In [114]:
all_orders

,Index,Order ID,Order Date_x,Ship Mode_x,Customer ID,Customer Name_x,Origin Channel,Country/Region,City,State,...,Order Date_y,On Truck Scan Date,Ship Mode_y,Arrival Scan Date,Customer Name_y,ready_time,scan_time,arrival_time,ship_time,order_time
0,252,CA-2019-145625,2019-09-11,Standard Class,KC-16540,Kelly Collister,Email,United States,San Diego,California,...,2019-09-11,2019-09-18,Standard Processing,2019-09-23,Kelly Collister,6 days,1 days,5 days,5 days,12 days
1,252,CA-2019-145625,2019-09-11,Standard Class,KC-16540,Kelly Collister,Email,United States,San Diego,California,...,2019-09-11,2019-09-18,Standard Processing,2019-09-23,Kelly Collister,6 days,1 days,5 days,5 days,12 days
2,252,CA-2019-145625,2019-09-11,Standard Class,KC-16540,Kelly Collister,Email,United States,San Diego,California,...,2019-09-11,2019-09-18,Standard Processing,2019-09-23,Kelly Collister,6 days,1 days,5 days,5 days,12 days
3,252,CA-2019-145625,2019-09-11,Standard Class,KC-16540,Kelly Collister,Email,United States,San Diego,California,...,2019-09-11,2019-09-18,Standard Processing,2019-09-23,Kelly Collister,6 days,1 days,5 days,5 days,12 days
4,1042,CA-2019-102981,2019-09-06,Second Class,MO-17500,Mary O'Rourke,Email,United States,New York City,New York,...,2019-09-06,2019-09-11,Standard Processing,2019-09-16,Mary O'Rourke,3 days,2 days,5 days,5 days,10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,9929,CA-2019-129630,2019-09-04,First Class,IM-15055,Ionia McGrath,Email,United States,San Francisco,California,...,2019-09-04,2019-09-04,Express,2019-09-09,Ionia McGrath,0 days,0 days,5 days,5 days,5 days
246,9069,CA-2019-106278,2019-09-02,Second Class,BM-11140,Becky Martin,Email,United States,Des Moines,Washington,...,2019-09-02,2019-09-06,Standard Processing,2019-09-10,Becky Martin,3 days,1 days,4 days,4 days,8 days
247,9069,CA-2019-106278,2019-09-02,Second Class,BM-11140,Becky Martin,Email,United States,Des Moines,Washington,...,2019-09-02,2019-09-06,Standard Processing,2019-09-10,Becky Martin,3 days,1 days,4 days,4 days,8 days
248,9069,CA-2019-106278,2019-09-02,Second Class,BM-11140,Becky Martin,Email,United States,Des Moines,Washington,...,2019-09-02,2019-09-06,Standard Processing,2019-09-10,Becky Martin,3 days,1 days,4 days,4 days,8 days
249,9069,CA-2019-106278,2019-09-02,Second Class,BM-11140,Becky Martin,Email,United States,Des Moines,Washington,...,2019-09-02,2019-09-06,Standard Processing,2019-09-10,Becky Martin,3 days,1 days,4 days,4 days,8 days

In [ ]:
express_orders = all_orders[all_orders['Ship Mode_y'] == 'Express']
standard_orders = all_orders[all_orders['Ship Mode_y'] == 'Standard Processing']

In [118]:
express_orders.describe()

,Index,Order Date_x,Postal Code,Sales,Quantity,Discount,Profit,Ready to Ship Date,Pickup Date,Row ID,Order Date_y,On Truck Scan Date,Arrival Scan Date,ready_time,scan_time,arrival_time,ship_time,order_time
count,14.000000,14,14.000000,14.000000,14.000000,14.000000,14.000000,14,14,14.000000,14,14,14,14,14,14,14,14
mean,3900.785714,2019-09-03 15:25:42.857142784,42879.214286,816.883143,3.714286,0.400000,-99.572957,2019-09-05 01:42:51.428571392,2019-09-05 15:25:42.857142784,3900.785714,2019-09-03 15:25:42.857142784,2019-09-05 15:25:42.857142784,2019-09-10 17:08:34.285714176,1 days 10:17:08.571428571,0 days 13:42:51.428571428,5 days 01:42:51.428571428,5 days 01:42:51.428571428,7 days 01:42:51.428571428
min,870.000000,2019-09-02 00:00:00,10024.000000,14.624000,2.000000,0.000000,-760.980000,2019-09-04 00:00:00,2019-09-04 00:00:00,870.000000,2019-09-02 00:00:00,2019-09-04 00:00:00,2019-09-09 00:00:00,0 days 00:00:00,0 days 00:00:00,5 days 00:00:00,5 days 00:00:00,5 days 00:00:00
25%,870.250000,2019-09-03 00:00:00,19143.000000,133.399500,3.000000,0.200000,-589.696200,2019-09-04 00:00:00,2019-09-04 00:00:00,870.250000,2019-09-03 00:00:00,2019-09-04 00:00:00,2019-09-09 06:00:00,0 days 12:00:00,0 days 00:00:00,5 days 00:00:00,5 days 00:00:00,5 days 12:00:00
50%,871.000000,2019-09-03 00:00:00,19143.000000,280.782000,3.000000,0.400000,-46.797000,2019-09-05 00:00:00,2019-09-06 00:00:00,871.000000,2019-09-03 00:00:00,2019-09-06 00:00:00,2019-09-11 00:00:00,2 days 00:00:00,1 days 00:00:00,5 days 00:00:00,5 days 00:00:00,8 days 00:00:00
75%,9181.000000,2019-09-04 00:00:00,85754.750000,1141.470000,5.000000,0.675000,7.923900,2019-09-05 00:00:00,2019-09-06 00:00:00,9181.000000,2019-09-04 00:00:00,2019-09-06 00:00:00,2019-09-11 00:00:00,2 days 00:00:00,1 days 00:00:00,5 days 00:00:00,5 days 00:00:00,8 days 00:00:00
max,9930.000000,2019-09-09 00:00:00,94122.000000,2799.960000,5.000000,0.700000,944.986500,2019-09-11 00:00:00,2019-09-11 00:00:00,9930.000000,2019-09-09 00:00:00,2019-09-11 00:00:00,2019-09-16 00:00:00,2 days 00:00:00,1 days 00:00:00,6 days 00:00:00,6 days 00:00:00,8 days 00:00:00
std,4265.444971,NaN,35524.561237,955.673017,1.204388,0.254196,553.190008,NaN,NaN,4265.444971,NaN,NaN,NaN,0 days 22:30:09.889506172,0 days 12:19:30.943863531,0 days 06:24:51.371301233,0 days 06:24:51.371301233,1 days 09:14:03.955317249

In [117]:
standard_orders.describe()

,Index,Order Date_x,Postal Code,Sales,Quantity,Discount,Profit,Ready to Ship Date,Pickup Date,Row ID,Order Date_y,On Truck Scan Date,Arrival Scan Date,ready_time,scan_time,arrival_time,ship_time,order_time
count,236.000000,236,236.000000,236.000000,236.000000,236.000000,236.000000,236,236,236.000000,236,236,236,236,236,236,236,236
mean,3765.682203,2019-09-14 07:37:37.627118592,68011.652542,163.701843,3.622881,0.108898,32.868217,2019-09-18 16:16:16.271186432,2019-09-20 02:26:26.440677888,3765.682203,2019-09-14 07:37:37.627118592,2019-09-20 02:26:26.440677888,2019-09-24 22:04:04.067796736,4 days 08:38:38.644067796,1 days 10:10:10.169491525,4 days 19:37:37.627118644,4 days 19:37:37.627118644,10 days 14:26:26.440677966
min,99.000000,2019-09-02 00:00:00,7050.000000,2.907000,1.000000,0.000000,-157.938300,2019-09-05 00:00:00,2019-09-06 00:00:00,99.000000,2019-09-02 00:00:00,2019-09-06 00:00:00,2019-09-10 00:00:00,2 days 00:00:00,1 days 00:00:00,3 days 00:00:00,3 days 00:00:00,8 days 00:00:00
25%,3411.000000,2019-09-06 00:00:00,27360.000000,22.720000,2.000000,0.000000,3.980275,2019-09-11 00:00:00,2019-09-13 00:00:00,3411.000000,2019-09-06 00:00:00,2019-09-13 00:00:00,2019-09-16 00:00:00,4 days 00:00:00,1 days 00:00:00,5 days 00:00:00,5 days 00:00:00,10 days 00:00:00
50%,3413.000000,2019-09-20 00:00:00,94122.000000,63.940000,2.000000,0.000000,15.808000,2019-09-24 00:00:00,2019-09-25 00:00:00,3413.000000,2019-09-20 00:00:00,2019-09-25 00:00:00,2019-09-30 00:00:00,4 days 00:00:00,1 days 00:00:00,5 days 00:00:00,5 days 00:00:00,10 days 00:00:00
75%,5331.000000,2019-09-20 00:00:00,94122.000000,87.168000,4.000000,0.200000,37.984800,2019-09-24 00:00:00,2019-09-25 00:00:00,5331.000000,2019-09-20 00:00:00,2019-09-25 00:00:00,2019-09-30 00:00:00,5 days 00:00:00,2 days 00:00:00,5 days 00:00:00,5 days 00:00:00,12 days 00:00:00
max,9973.000000,2019-09-27 00:00:00,98198.000000,3347.370000,13.000000,0.700000,636.000300,2019-10-02 00:00:00,2019-10-04 00:00:00,9973.000000,2019-09-27 00:00:00,2019-10-04 00:00:00,2019-10-07 00:00:00,6 days 00:00:00,3 days 00:00:00,5 days 00:00:00,5 days 00:00:00,13 days 00:00:00
std,1836.111682,NaN,35635.637274,446.525799,2.668521,0.138860,87.418831,NaN,NaN,1836.111682,NaN,NaN,NaN,0 days 21:15:32.042461050,0 days 13:26:01.383205022,0 days 13:01:13.113296325,0 days 13:01:13.113296325,1 days 06:32:28.926568931

In [108]:
express_orders

,Index,Order ID,Order Date_x,Ship Mode_x,Customer ID,Customer Name_x,Origin Channel,Country/Region,City,State,...,Pickup Date,Row ID,Order Date_y,On Truck Scan Date,Ship Mode_y,Arrival Scan Date,Customer Name_y,ready_time,scan_time,arrival_time
99,871,CA-2019-158099,2019-09-03,First Class,PK-18910,Paul Knutson,Facebook,United States,Philadelphia,Pennsylvania,...,2019-09-06,870,2019-09-03,2019-09-06,Express,2019-09-11,Paul Knutson,2 days,1 days,5 days
100,871,CA-2019-158099,2019-09-03,First Class,PK-18910,Paul Knutson,Facebook,United States,Philadelphia,Pennsylvania,...,2019-09-06,871,2019-09-03,2019-09-06,Express,2019-09-11,Paul Knutson,2 days,1 days,5 days
101,871,CA-2019-158099,2019-09-03,First Class,PK-18910,Paul Knutson,Facebook,United States,Philadelphia,Pennsylvania,...,2019-09-06,870,2019-09-03,2019-09-06,Express,2019-09-11,Paul Knutson,2 days,1 days,5 days
102,871,CA-2019-158099,2019-09-03,First Class,PK-18910,Paul Knutson,Facebook,United States,Philadelphia,Pennsylvania,...,2019-09-06,871,2019-09-03,2019-09-06,Express,2019-09-11,Paul Knutson,2 days,1 days,5 days
107,9930,CA-2019-129630,2019-09-04,First Class,IM-15055,Ionia McGrath,Email,United States,San Francisco,California,...,2019-09-04,9929,2019-09-04,2019-09-04,Express,2019-09-09,Ionia McGrath,0 days,0 days,5 days
108,9930,CA-2019-129630,2019-09-04,First Class,IM-15055,Ionia McGrath,Email,United States,San Francisco,California,...,2019-09-04,9930,2019-09-04,2019-09-04,Express,2019-09-09,Ionia McGrath,0 days,0 days,5 days
122,870,CA-2019-158099,2019-09-03,First Class,PK-18910,Paul Knutson,Facebook,United States,Philadelphia,Pennsylvania,...,2019-09-06,870,2019-09-03,2019-09-06,Express,2019-09-11,Paul Knutson,2 days,1 days,5 days
123,870,CA-2019-158099,2019-09-03,First Class,PK-18910,Paul Knutson,Facebook,United States,Philadelphia,Pennsylvania,...,2019-09-06,871,2019-09-03,2019-09-06,Express,2019-09-11,Paul Knutson,2 days,1 days,5 days
124,870,CA-2019-158099,2019-09-03,First Class,PK-18910,Paul Knutson,Facebook,United States,Philadelphia,Pennsylvania,...,2019-09-06,870,2019-09-03,2019-09-06,Express,2019-09-11,Paul Knutson,2 days,1 days,5 days
125,870,CA-2019-158099,2019-09-03,First Class,PK-18910,Paul Knutson,Facebook,United States,Philadelphia,Pennsylvania,...,2019-09-06,871,2019-09-03,2019-09-06,Express,2019-09-11,Paul Knutson,2 days,1 days,5 days
126,992,CA-2019-110023,2019-09-09,First Class,TS-21610,Troy Staebel,Email,United States,New York City,New York,...,2019-09-11,992,2019-09-09,2019-09-11,Express,2019-09-16,Troy Staebel,2 days,0 days,5 days
243,6937,CA-2019-129847,2019-09-02,First Class,TA-21385,Tom Ashbrook,Facebook,United States,Chicago,Illinois,...,2019-09-04,6937,2019-09-02,2019-09-04,Express,2019-09-10,Tom Ashbrook,2 days,0 days,6 days
244,9929,CA-2019-129630,2019-09-04,First Class,IM-15055,Ionia McGrath,Email,United States,San Francisco,California,...,2019-09-04,9929,2019-09-04,2019-09-04,Express,2019-09-09,Ionia McGrath,0 days,0 days,5 days
245,9929,CA-2019-129630,2019-09-04,First Class,IM-15055,Ionia McGrath,Email,United States,San Francisco,California,...,2019-09-04,9930,2019-09-04,2019-09-04,Express,2019-09-09,Ionia McGrath,0 days,0 days,5 days

In [ ]:
scan_time'